# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# SO
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Banco gerado localmente (recriado com src/criar_banco_sqlite.py)
data/beaumont_bank.db
